body{
    background: #302b70;
}
.container-text{
    /* display: flex; */
    margin: 0 0 0 10%;
}
.contact-container{
    margin:  0 0 0 15%;
}
.social-icon {
    /* border: 1px solid whitesmoke; */
    margin: 10px 0 20px 0px;
    /* width: 150%; */
}
.social-icon a {
    font-size: 50px;
    margin: 10px 0 10px 30px;
}
.social-icon a:nth-child(3),#hackerrank{
    filter: invert(1);
}
.social-icon a :hover{
    color: rgba(245, 245, 245, 0.644); 
}

.contact-gif{
   width: 40%;
   /* height: 81.1vh; */
   margin:  0px 0 0 0;
}
.contact-gif-2{
    display: none;
}
.contact-image{
    border-radius: 100%;
    /* width: 50%; */
    height: 200px;
    margin: 0px 0 0 16%;
}
.buttons  li{
    list-style: none;
    width: 75%;
    background: whitesmoke;
    margin: 10px;
    border-radius: 1em;
    padding: 0.5em;
    text-align: center;
}
#resume{
    width: 30%;
    margin: 0 0 0 105px;
}
.contact-container ul li a{
    color: black;
}

@media only screen and (max-width:780px){
    .contact-gif{
        display: none;
    }
   .buttons li{
       margin: 20px 0 0 -20px;
       width: 90%;
       font-size: small;
   }
   #resume{
    width: 30%;
    margin: 10px 0 0 60px;
   }
   
   #mail{
       width: 100%;
   }
   .contact-image{
       margin:  0 0 0 0px;
   }
   .contact-gif-2{
       display: block;
       width: 100%;
   }
   .social-icon a img,
   #hackerrank{
       width: 20%;
       height: 50px;
   }
}