
/* #university{
    height: 70vh;
    width: 100%
} */
.container img{
    height: 70vh;
}
.education{
    background: whitesmoke;
    color: black;
    padding: 10px;
    width: 500px;
    text-align: center;
    border-radius: 1em;
    margin: 20px 0 0 0;
}
.education p{
    color: gray;
}
/* .education-container :nth-child(3){
    margin: 0 0 0 0;
} */
.education-container{
    margin: 50px 0 0 15%;
    
}
.education-container hr{
    display: block;
    margin: 0 0 0 45%;
    height: 4vh;
    width: 3px;
    background: whitesmoke;
}
.education{
    margin: 0 ;
}
.p{
    display: none;
}
.education :hover + .p{
    display: block;
}
@media only screen and (max-width:700px){
   .container>img{
       margin: 0 0 0 10%;
       width: 70%;
   }
    .education-container{
        margin: 0 0 0 5%;
     /* width: 85%; */
     /* margin: 0 0 0 5%; */
    }
    .education{
        width: 90%;
        font-size: x-small;
    }
}